name: pre-commit
permissions:
  contents: read

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true
          submodules: recursive
          fetch-depth: 0
      - uses: actions/setup-python@v6
      - uses: actions/setup-node@v6
      - uses: pre-commit/action@v3.0.1
